*
{
    margin: 0;
    padding: 0;
}
.mazo
    {
        perspective:800px;
        transform-style: preserve-3d;

    } 
.mazo>section
{
    position:absolute;
    border:solid 2px;
    width:90vw;
    height:92vh;
    background: linear-gradient(to right,rgba(192,192,255,1),rgba(232,232,255,1));
    margin: 0px;
    padding: 15px;
    overflow: hidden;
    text-align: justify;
    transform-style: preserve-3d;
    transition: transform 1s;
    font-size: 3vw;
    font-family: sans-serif;
}

video, img 
{
    width: 90%;   
}
h1
{
    text-align: center;
    margin-bottom: 1em;
}
p
{
    margin: 1em 0;
}